{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1><b>4mC Prediction Server</b></h1>
    <p class="lead" style="text-align: justify;">
		The epigenetic modification, DNA N4 methylcytosine(4mC) plays an important role in DNA expression, repair, and replication. It simply plays a crucial role in restriction-modification systems. The better and accurate prediction of 4mC sites in DNA is much-needed work to understand their functional behavior that leads to help in both drug discovery and biomedical research.
        <br>
        <br>
        Therefore, efficient and high-throughput 4mC site identification tools have been
		developed in this regard to optimize their usability in practical applications.
	</p>
  </div>
{% endblock %}
