{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Read Me</h1>
   <p class="lead" style="text-align: justify;">
       For the convenience of users, particularly for the vast majority of experimental scientists, a publicly
       accessible web-server for <strong> 4mC </strong> has been established. Moreover, to maximize
       users' convenience, given below a step-by-step guide on how to use it to get the desired results
       without the need to through the above mathematical details.</p>
   <p class="lead" style="text-align: justify;">
       <strong>Step 1.</strong>Click on the <strong>Server</strong> link from where you can either type or copy and
       paste the query sequences into the input box at the center of <strong>4mC</strong> Server Page.
       The input sequence should be in simple sequence format or in the FASTA format. A potential sequence in FASTA format consists of a
       single initial line beginning with the symbol ">" in the first column, followed by lines of sequence
       data in which nucleotides are represented using single-letter codes. Except for the mandatory symbol
       ">", all the other characters in the single initial line are optional and only used for the purpose
       of identification and description. The sequence ends if another line starting with the symbol ">"
       appears; this indicates the start of another sequence.</p>
   <p class="lead" style="text-align: justify;">
       <strong>Step 2.</strong> Click on the <strong>Submit</strong> button to see the predicted results.
       The predicted results will be shown on the screen. The system will tell whether the DNA sequence is an 4mC,
       a Non-4mC or an Invalid sequence. Furthermore, it will also predict the strength of the query sequence.
       All these predicted results are fully consistent with experimental observations.</p>
   <p class="lead" style="text-align: justify;">
       <strong>Note:</strong> You can download the Benchmark Datasets by clicking the
       <strong>Data</strong> link provided on the navigation bar.</p>
  </div>
{% endblock %}
